$hero-height: 80vh;

.hero {
  background: url('http://res.cloudinary.com/shanemckenna/image/upload/v1515946245/hero_famcml.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .heroSectionText {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 4em;
    font-weight: 900
  }
}


